@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Dark mode text color */
    body.dark {
      background-color: #1f2937; /* Dark background */
      color: white; /* Default text color in dark mode */
    }
  
    /* Light mode text color */
    body {
      background-color: white; /* Light background */
      color: black; /* Default text color in light mode */
    }
  }